@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto+Slab',sans-serif;
}

body{
  background-color: #faf9f9;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  background-color: #fff;
}
.navbar{
  display: flex;
  align-items: center;
  margin: auto 4%;
}

.nav-items{
  position: absolute;
  list-style: none;
  margin: auto 30%;
  display: flex;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #121212;
  padding: 10px;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #0290ff;
  cursor: pointer;
  transition: .3s;
}

.logo {
  font-weight: bold;
  color: #0290ff;
  font-stretch: normal;
}

.user-icon {
  margin: auto 6%;
  color: #0290ff;
  font-size: 2rem;
}

.user-icon:hover {
  cursor: pointer;
  color: #5bb8ff;
}

.main-container {
  margin: 5% 6%;
}

