@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto+Slab',sans-serif;
}

body{
  background-color: #faf9f9;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  background-color: #fff;
}
.navbar{
  display: flex;
  align-items: center;
  margin: auto 4%;
}

.nav-items{
  position: absolute;
  list-style: none;
  margin: auto 30%;
  display: flex;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #121212;
  padding: 10px;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #0290ff;
  cursor: pointer;
  transition: .3s;
}

.logo {
  font-weight: bold;
  color: #0290ff;
  font-stretch: normal;
}

.user-icon {
  margin: auto 6%;
  color: #0290ff;
  font-size: 2rem;
}

.user-icon:hover {
  cursor: pointer;
  color: #5bb8ff;
}

.main-container {
  margin: 5% 6%;
}

.book-container {
  border: 2px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book {
  border: 1px solid #e8e8e8; 
  background-color: #fff;
  height: 9rem;
  display: flex;
}

.book-descr {
  margin: 25px 6%;
}

.action {
  color: #121212;
  opacity: 0.5;
  text-transform: capitalize;
}

.book-title {
  margin-top: 6px;
  letter-spacing: -0.2px;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
}

.book-author {
  font-weight: 300;
  color: #4386bf;
  font-size: 14px;
}

.comment-container {
  font-style: none;
  list-style: none;
  display: flex;
  color: #4386bf;
  margin-top: 1rem;
  gap: 8px;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.comment-container li:hover {
  color: #5bb8ff;
}

.btn-remove {
  background-color: #fff;
  border: none;
  color: #4386bf;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-remove:hover {
  color: #5bb8ff;
}

.oval {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#307bbe 75%, rgb(236, 235, 235) 0); 
}

.comp-container {
  margin-left: 10px;
  font-size: normal;
}


.complited {
  color: black;
  opacity: 0.5;
  font-size: 15px;
}